ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black !important;
}

li {
    font-family: var(--font-main);
    font-size: large;
}

.navbar-list-styling {
    display: flex;
    justify-content: flex-start;
}

.navbarDiv {
    display: flex;
    flex-direction: row;
}